sudo: required
dist: bionic

os: linux

language: c

compiler:
  - gcc

cache:
  apt: true
  directories:

env:
  global:
    - NGINX_PREFIX=/opt/nginx
    - JOBS=4
    - PATH=$PATH:$NGINX_PREFIX/sbin

before_install:
  - sudo apt install -qq -y software-properties-common
  - sudo add-apt-repository "deb http://us.archive.ubuntu.com/ubuntu/ xenial main universe"
  - sudo apt update -qq -y --fix-missing
  - sudo apt install -qq -y --fix-missing cpanminus mercurial build-essential make clang valgrind libio-socket-ssl-perl

install:
  - if [ ! -d /opt ]; then mkdir /opt; fi
  - git clone https://github.com/nginx/nginx-tests
  - hg clone http://hg.nginx.org/nginx
  - git clone https://github.com/openssl/openssl

script:
  - cd openssl
  - git checkout OpenSSL_1_1_1 -b patched
  - patch -p1 < ../patches/openssl_1.1.1d.extensions.patch
  - ./config -d
  - make -j$JOBS 2>&1 > build.log || (cat build.log && exit 1)
  - sudo make install 2>&1 > build.log || (cat build.log && exit 1)
  - cd ../nginx
  - patch -p1 < ../patches/nginx.latest.patch
  - auto/configure --with-debug --with-stream --with-ld-opt="-Wl,-E -L /usr/local/lib" --prefix=$NGINX_PREFIX  --with-http_ssl_module --with-stream_ssl_module --add-module=.. > build.log 2>&1 || (cat build.log && exit 1)
  - make -j$JOBS > build.log 2>&1 || (cat build.log && exit 1)
  - sudo make install > build.log 2>&1 || (cat build.log && exit 1)
  - export PATH=$NGINX_PREFIX/sbin:$PATH
  - export LD_LIBRARY_PATH=/usr/local/lib
  - /opt/nginx/sbin/nginx -V
  - ldd /opt/nginx/sbin/nginx
  - cd ../t
  - ln -sf ../nginx-tests/lib/ lib
  - cd ..
  - TEST_NGINX_BINARY=/opt/nginx/sbin/nginx prove -v
